@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="btn btn-light" asp-controller="Rating" asp-action="Index">Оценки</a>
    </li>
    <a  class="btn btn-secondary" asp-controller="Account" asp-action="Logout">Изход</a>
}
else
{
    <li class="nav-item">
        <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Регистрация</a>
    </li>
    <li class="nav-item">
            <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">Вход</a>
    </li>
}
</ul>
