@model RegisterViewModel

@{
    ViewData["Title"]="Регистрация";
}
<h2>Регистрация</h2>
<main>
<form asp-action="Register" method="post" id="everything">
    <h2>Регистрация</h2>
    <div class="form-group">
        <label asp-for="FirstName">Име</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Фамилия</label>
            <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>
        <div class="form-group">
        <label asp-for="Email">Имейл</label>
            <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
        <div class="form-group">
        <label asp-for="Password">Парола</label>
            <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Потвърди парола</label>
            <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <br />
    <div>
        <button type="submit">Регистрация</button>
    </div>
</form>
</main>

<style>
    main{
        margin: 5% 10% 0 10%;
    }
</style>
