@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Роли";
}
<h2>Списък с роли</h2>

<a asp-action="Create" class="btn btn-success">Добавяне на роля</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Име на ролята</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>