@model AccountManagement.Models.Trains.CreateTrainViewModel

@{
    ViewData["Title"] = "Създаване на влак";
}
<main>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label class="">Вид влак</label>
            <select class="form-select" asp-items="ViewBag.ScheduleId" name="selectedSchedule">
                <option>Моля изберете вид влак</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Готово</button>
    </form>
</main>

<style>
    main {
        margin: 3% 5% 0 5%;
    }
</style>
