@model IEnumerable<AccountManagement.Models.TrainStation>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Пътища";
}
<main>
    <h2 style="justify-self:center">Станции</h2>
    @if (User.IsInRole("Admin"))
    {
            <a asp-action="Create" class="btn btn-primary plus">Create</a>
    }
    <table class="table">
        <thead>
            <th>Локация</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var trainStation in Model)
            {
                <tr>
                   
                        <td>@trainStation.Location</td>
                            <td> <a asp-action="Details" asp-route-id="@trainStation.Id" class="btn btn-secondary">Пътища</a></td>
                    
                    <td>
                    @if (User.IsInRole("Admin"))
                    {
                                <a asp-action="Delete" asp-route-id="@trainStation.Id" class="btn btn-danger">Delete</a>
                                <a asp-action="Edit" asp-route-id="@trainStation.Id" class="btn btn-primary">Edit</a>
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

<style>
    .plus {
        justify-self: center;
    }

    main {
        margin: 0 5% 0 5%;
    }
</style>
