@model AccountManagement.Models.Trains.CreateRatingViewModel

@{
    ViewData["Title"] = "Оцени";
}
<main>
    <form asp-action="Rate" method="post">
        <div class="form-group">
            <label asp-for="RatingScore" class="">Оценка</label>
            <input asp-for="RatingScore" class="form-control" type="number" step="0.1" min="0.1" max="5.0" value="0.0"/>
            <span asp-validation-for="RatingScore" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Comment" class="">Коментар</label>
            <input asp-for="Comment" class="form-control"/>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Готово</button>
    </form>
</main>

<style>
    main {
        margin: 3% 5% 0 5%;
    }
</style>