@{
    ViewData["Title"] = "Информация";
}

<style>
    .info-section {
        background-image: url('https://media.istockphoto.com/id/1256091026/vector/set-information-square-icon-vector-logo-template.jpg?s=612x612&w=0&k=20&c=ujRcU6iTmOZ7YGZmEI_50R-ps5WUaWpTO8obdi8mzlw='); /* Сложи снимката тук */
        background-size: cover;
        background-position: center;
        padding: 80px 20px;
        color: white;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
        border-radius: 12px;
        margin: 5% auto;
        width: 80%;
    }

        .info-section h2 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .info-section h5 {
            font-size: 1.2rem;
            font-weight: normal;
        }
</style>

<div class="info-section text-center">
    <h2>За нас</h2>
    <h5>
        „ВДЖ“ е уеб-базирана информационна система за управление на движението на влакове.

        Системата е създадена с цел да подобри ефективността, проследимостта и контрола върху железопътния трафик чрез интуитивен и модерен интерфейс.

        Чрез нея потребителите могат лесно да управляват разписания, маршрути, наличност на влакове, както и друга оперативна информация, свързана с железопътния транспорт.

        „ВДЖ“ е разработена като част от ученически проект, вдъхновен от нуждата за по-добра автоматизация и достъп до информация в сектора на транспорта.
    </h5>
</div>
