@{
	ViewData["Title"] = "Контакти";
}
<main>
	<h2>Контакти</h2>
	<h4>Телефон: 0885 90 46 39</h4>
	<h4>Имейл: vsd123456789@abv.bg</h4>
	<h4>Владимир Станиславов Димитров</h4>
</main>
<style>
	main {
		margin: 10% 20% 0 20%;
	}
</style>
